* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-clr: #323437;
    --txt-clr: white;
    --sec-clr: #323437;
    --ter-clr: #E2B714;
}

html, body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

body {
    background-color: var(--bg-clr);
    height: 100svh;
    color: var(--txt-clr);
}

.container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: auto;
}

.card {
    max-width: 300px;
    height: 300px;
    display: flex;
    padding: 2em;
    gap: .5em;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: 3px solid var(--ter-clr);
    flex-flow: column wrap;
    background-color: var(--bg-clr);
}

.title {
    display: flex;
    align-items: center;
    gap: 1em;
}

#search-box {
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 1rem;
    font: inherit;
    background-color: var(--txt-clr);
    color: white;

}

#submit-btn {
    height: 30px;
    align-self: stretch;
    border-radius: 10px;
    border: 0;
    font: inherit;
    color: white;
    cursor: pointer;
    background-color: var(--ter-clr);

}

#footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--ter-clr);
    color: var(--txt-clr);
    gap: .5em;
}

#link {
    color: inherit;
}
